body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.qr-code-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Set a fixed width for the container */
}

.user-image {
    text-align: center; /* Center the image */
    margin-bottom: 20px;
}

.user-image img {
    border-radius: 50%; /* Make the image circular */
    width: 100px;
    height: 100px;
}

h1.name {
    font-size: 24px;
    margin: 0 0 10px;
    text-align: center; /* Center the name */
}

.user-details {
    text-align: left; /* Align user details to the left */
}

.user-details p {
    font-size: 15px;
    margin: 5px 0;
}

.qr-code {
    margin-top: 20px;
    text-align: center; /* Center the QR code */
}
